@plugin "../public/plugins/index";
@import (reference) '../public/variable.less';

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: @sizes[tablet]) {
    width: vw(325);
  }
}

.nav {
  &-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    height: 60px;
    z-index: 5;
    @media screen and (max-width: @sizes[tablet]) {
      height: vw(45);
    }
  }
  &-logo {
    height: 30px;
    margin-top: 12px;
    margin-left: 40px;
    float: left;
    vertical-align: middle;
    @media screen and (max-width: @sizes[tablet]) {
      height: vw(15);
      margin: vw(17) 0 vw(13) 0;
    }
  }
  &-menu {
    display: flex;
    flex-direction: row;
    text-align: right;
    float: right;
    margin-right: 90px;
    @media screen and (max-width: @sizes[tablet]) {
      margin-right: 0;
    }
    &_item {
      position: relative;
      max-width: 100px;
      display: flex;
      flex-direction: column;
      margin-right: 22px;
      margin-top: 14px;
      text-align: center;
      z-index: 10;
      font-size: 12px;
      cursor: pointer;
      @media screen and (max-width: @sizes[tablet]) {
        max-width: vw(57);
        max-height: vw(37);
        // margin-top: vw(8);
        margin-right: vw(0);
        padding-bottom: vw(10);
      }
      .desc {
        z-index: 10;
        line-height: 12px;
        @media screen and (max-width: @sizes[tablet]) {
          font-size: vw(12);
          transform: scale(0.55);
          white-space: nowrap;
        }
      }
      .title {
        font-size: 16px;
        line-height: 18px;
        font-weight: bold;
        z-index: 10;
        @media screen and (max-width: @sizes[tablet]) {
          font-size: vw(12);
        }
      }
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: 0;
        margin-top: 0;
        width: 0;
        height: 0;
        background: transparent;
        border-radius: 0;
        z-index: 1;
        .transition();
      }
      &.active, &:hover {
        &::after {
          margin-left: -25px;
          margin-top: -25px;
          width: 50px;
          height: 50px;
          border-radius: 25px;
          background: #1ba8df;
          @media screen and (max-width: @sizes[tablet]) {
            border-radius: 0;
            height: 100%;
          }
        }
      }
    }
  }
}

.footer {
  &-container {
    height: 420px;
    background: @color-dark-primary;
    color: white;
    font-size: 12px;
    @media screen and (max-width: @sizes[tablet]) {
      display: none;
    }
    .title {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: bold;
    }
    .item {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 12px;
      // transform: scale(0.75);
      transform-origin: left;
      cursor: pointer;
    }
    .qrcode {
      width: 120px;
      height: 120px;
      margin-top: 60px;
    }
    &> .container {
      padding: 20px 200px 0 200px;
      box-sizing: border-box;
      display: flex;
    }
    .footer-copyright {
      display: block;
      padding: 0;
      border-top: 5px solid white;
      text-align: left;
      .detail {
        // transform: scale(0.75);
        transform-origin: left;
        margin-top: 10px;
      }
    }
  }
  &-list {
    flex: 1;
    &:last-child {
      text-align: center;
      .item {
        margin-top: 25px;
        transform: scale(1);
      }
    }
  }
}

.form-affix_container {
  height: 50px;
  width: 100%;
  background: #1094cc;
  display: flex;
  align-items: center;
  padding: 10px;
  .form-body {
    height: 100%;
    display: flex;
    .text {
      flex: 1;
      margin: 0 20px;
      font-size: 24px;
      color: white;
    }
    .ant-input {
      border-radius: 20px;
    }
    .ant-btn {
      background: @color-primary;
      border-radius: 20px;
      &:hover, &:active, &:visited, &:focus {
        color: white;
        border-color: white;
      }
    }
  }
}

.side-bar {
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -50px;
  height: 100px;
  z-index: 9999;

  &_item {
    position: relative;
    height: 50%;
    color: #00a7e1;
    line-height: 1.2;
    width: 50px;
    &:hover {
      .side-bar_content {
        left: -140px;
        opacity: 1;
        background: #00a7e1;
        color: white;
      }
      &:last-child {
        .side-bar_content,
        .side-bar_icon {
          background: #2a679f;
        }
        color: white;
      }
    }
    .contact-way {
      height: 100%;
      font-size: 12px;
      font-weight: bold;
      display: inline-block;
      padding: 4px;
    }
    .contact-number {
      height: 100%;
      margin-left: 10px;
      font-size: 16px;
      line-height: 1.1;
      font-weight: bold;
      display: inline-block;
      color: white;
    }
    &:last-child {
      .side-bar_icon {
        background: #2a679f;
      }
      .side-bar_content {
        background: white;
      }
      color: #2a679f;
    }
  }
  &_content {
    position: absolute;
    left: -50px;
    padding: 8px;
    box-sizing: border-box;
    display: inline-block;
    width: 140px;
    height: 100%;
    background: white;
    opacity: 1;
    z-index: 5;
    .transition();
  }
  &_icon {
    position: absolute;
    padding: 10px;
    height: 100%;
    background: #00a7e1;
    z-index: 10;
    cursor: pointer;
    img {
      width: 30px;
    }
  }
}
